h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  color: black;
}

.title{
  font-size: 100px;
}

.button-container {
  margin: 15px;
}

.homepage-button {
  height: 20px;
  cursor: pointer;
  font-family: 'Marvel';


  background-color: transparent;
  color: #fefbef;
  font-weight: 600;
  line-height: 1;
  transition: background-color 300ms, border-color 300ms, box-shadow 150ms;
  width: 20%;

  min-width: 10rem;
  border-radius: 0.75rem;
  font-size: 1.2em;
  letter-spacing: 1px;
  min-height: 3rem;

  color: #ff4136;
  border: 3px solid #ff4136;
  margin: 5px;
}
